.search_container {
  width: 100%;
  background: #F4F5F7;
}
.search_container .search_head {
  width: 100%;
  height: 1.81333333rem;
  background: #FFFFFF;
  position: relative;
}
.search_container .search_head .hr {
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #E1E9F0;
}
.search_container .search_head .line {
  display: inline-block;
  width: 1px;
  height: 1.28rem;
  background: #E1E9F0;
  position: absolute;
  top: 0.32rem;
  right: 2.13333333rem;
}
.search_container .search_head a {
  position: absolute;
  top: 0.42666667rem;
  right: 0.42666667rem;
  color: #000000;
  font-size: 0.72533333rem;
  font-weight: 500;
}
.search_container .search_head input {
  display: inline-block;
  width: 11.73333333rem;
  padding-top: 0.27733333rem;
  padding-left: 0.10666667rem;
  padding-bottom: 0.27733333rem;
  margin-top: 0.21333333rem;
  margin-left: 1.6rem;
}
.search_container .search_head .back_img {
  display: inline-block;
  width: 1.06666667rem;
  height: 1.06666667rem;
  position: absolute;
  top: 0.32rem;
  left: 0.21333333rem;
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.search_container .search_head .search_img {
  display: inline-block;
  width: 0.85333333rem;
  height: 0.85333333rem;
  position: absolute;
  top: 0.53333333rem;
  right: 2.88rem;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.search_container .search_recommend {
  width: 100%;
  height: 6.82666667rem;
  margin-top: 0.21333333rem;
  background: #FBFBFD;
}
.search_container .search_recommend .recommend_title {
  width: 100%;
  position: relative;
}
.search_container .search_recommend .recommend_title i {
  position: absolute;
  top: 0.34133333rem;
  left: 0.46933333rem;
  width: 0.93866667rem;
  height: 0.93866667rem;
  background-image: url("../images/rmss.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.search_container .search_recommend .recommend_title span {
  margin-left: 1.81333333rem;
  font-size: 0.704rem;
  font-weight: 500;
  color: #666A6D;
}
.search_container .search_recommend .recommend_content {
  width: 100%;
  height: 5.54666667rem;
}
.search_container .search_recommend .recommend_content .content_list {
  width: 100%;
  margin-top: 0.21333333rem;
  display: flex;
  text-align: center;
  background: #F4F5F7;
}
.search_container .search_recommend .recommend_content .content_list span {
  display: inline-block;
  flex: 1;
  height: 1.28rem;
  margin-top: 0.64rem;
  color: #666A6D;
  line-height: 1.28rem;
  background: #FFFFFF;
  font-size: 0.53333333rem;
  border-radius: 0.21333333rem;
}
.search_container .history {
  background: #fff;
}
.search_container .footer_wrap {
  width: 100%;
  background: #FFFFFF;
  position: absolute;
  bottom: 0;
}
.search_container .footer_wrap .footer {
  width: 100%;
  height: 2.56rem;
  bottom: 0;
  position: fixed;
  background: #fff;
  display: flex;
  text-align: center;
  border-bottom: 1px silver solid;
  border-bottom: 0;
  border-radius: 0.02133333rem;
}
.search_container .footer_wrap .footer div {
  flex: 1;
}
.search_container .footer_wrap .footer div a {
  padding-top: 0.42666667rem;
  font-size: 0.59733333rem;
  color: #A7A7A5;
  display: inline-block;
}
.search_container .footer_wrap .footer div a img {
  width: 0.85333333rem;
  margin-right: 0.192rem;
}
.search_container .footer_wrap .footer div .current {
  color: #FCB0BA;
}
